// Default Blue
$theme_color_default: #5e81ac;

// Blue
$theme_color_blue: #5e81ac;

// Purple
$theme_color_purple: #b48ead;

// pink
$theme_color_pink: #b48ead;

// red
$theme_color_red: #bf616a;

// orange
$theme_color_orange: #d08770;

// yellow
$theme_color_yellow: #ebcb8b;

// green
$theme_color_green: #a3be8c;

// grey
$theme_color_grey: #81a1c1;
