@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

@media (prefers-color-scheme: dark) {
  :root {
	/* Browser area before a page starts loading */
	--gnome-browser-before-load-background: #2e3440;
	--theme-primary-color: #5e81ac;

	/* Toolbars */
	--gnome-toolbar-background: #2e3440;
	--gnome-tabstoolbar-background: #2e3440;
	--gnome-findbar-background: #2e3440;
	--gnome-toolbar-color: #d8dee9;
	--gnome-toolbar-border-color: #2e3440;
	--gnome-inactive-toolbar-background: #2e3440;
	--gnome-inactive-toolbar-border-color: #2e3440;

	/* Sidebar */
	--gnome-sidebar-background: #3b4252;
	--gnome-inactive-sidebar-background: #3b4252;

	/* Popups */
	--gnome-menu-background: rgba(51, 51, 51, 0.95);
	--gnome-menu-border-color: #2e3440;
	--gnome-popover-background: rgba(51, 51, 51, 0.95);
	--gnome-popover-border-color: #2e3440;
	--gnome-popover-shadow: 0 5px 8px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.06);
	--gnome-popover-button-hover-background: rgba(255, 255, 255, 0.1);
	--gnome-popover-button-active-background: rgba(255, 255, 255, 0.15);
	--gnome-popover-separator-color: rgba(0, 0, 0, 0.1);

	/* Header bar */
	--gnome-headerbar-background: #2e3440;
	--gnome-headerbar-border-color: #2e3440;
	--gnome-headerbar-box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
	--gnome-inactive-headerbar-background: #2e3440;
	--gnome-inactive-headerbar-border-color: #2e3440;
	--gnome-inactive-headerbar-box-shadow: inset 0 1px rgba(255, 255, 255, 0.08);

	/* Buttons */
	--gnome-button-background: linear-gradient(to top, #636363 0%, #696969 100%);
	--gnome-button-border-color: #2e3440;
	--gnome-button-border-accent-color: #2e3440;
	--gnome-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
	--gnome-button-hover-color: rgba(255, 255, 255, 0.1);
	--gnome-button-active-color: rgba(255, 255, 255, 0.2);
	--gnome-button-hover-background: linear-gradient(to top, #5E81AC 0%, #5E81AC 100%);
	--gnome-button-active-background: linear-gradient(to top, #5E81AC 0%, #5E81AC 100%);
	--gnome-button-active-border-color: #2e3440;
	--gnome-button-active-border-accent-color: #2e3440;
	--gnome-button-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
	--gnome-button-disabled-background: #4c566a;
	--gnome-button-disabled-border-color: #3b4252;
	--gnome-button-disabled-box-shadow: inset 0 1px rgba(255, 255, 255, 0.03);
	--gnome-inactive-button-background: linear-gradient(#3b4252, #3b4252);
	--gnome-inactive-button-border-color: #3b4252;
	--gnome-inactive-button-box-shadow: inset 0 1px rgba(255, 255, 255, 0.0);
	--gnome-button-suggested-action-background: linear-gradient(to top, #81a1c1 2px, #81a1c1);
	--gnome-button-suggested-action-border-color: #5e81ac;
	--gnome-button-suggested-action-border-accent-color: #5e81ac;;
	--gnome-button-suggested-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.08);
	--gnome-button-suggested-action-hover-background: linear-gradient(to top, #81a1c1, #81a1c1 1px);
	--gnome-button-suggested-action-active-background: #5e81ac;
	--gnome-button-suggested-action-active-border-color: #5e81ac;
	--gnome-button-suggested-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0.05);
	--gnome-button-destructive-action-background: linear-gradient(to top, #bf616a 2px, #bf616a);
	--gnome-button-destructive-action-border-color: #bf616a;
	--gnome-button-destructive-action-border-accent-color: #bf616a;
	--gnome-button-destructive-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-button-destructive-action-hover-background: linear-gradient(to top, #bf616a, #bf616a 1px);
	--gnome-button-destructive-action-active-background: #bf616a;
	--gnome-button-destructive-action-active-border-color: #bf616a;
	--gnome-button-destructive-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);

  --gnome-headerbar-button-hover-background: rgba(255, 255, 255, 0.1);
	--gnome-headerbar-button-active-background: rgba(255, 255, 255, 0.15);

	/* URL bar */
	--gnome-urlbar-background: #4c566a;
	--gnome-urlbar-border-color: #2e3440;
	--gnome-urlbar-box-shadow: inset 0 0 0 1px rgba(21, 83, 158, 0);
	--gnome-urlbar-color: #d8dee9;
	--gnome-hover-urlbar-border-color: #4c566a;
	--gnome-inactive-urlbar-background: #2e3440;
	--gnome-inactive-urlbar-border-color: #2e3440;
	--gnome-inactive-urlbar-box-shadow: none;
	--gnome-inactive-urlbar-color: #d8dee9;
	--gnome-focused-urlbar-border-color: #5e81ac;
	--gnome-focused-urlbar-highlight-color: #81a1c1;
	--gnome-private-urlbar-background: #2e3440;

	/* Tabs */
	--gnome-tabbar-tab-background: #2e3440;
	--gnome-tabbar-tab-color: rgb(141, 144, 145);
	--gnome-tabbar-tab-hover-background: #2e3440;
	--gnome-tabbar-tab-hover-border-bottom-color: #2e3440;
	--gnome-tabbar-tab-hover-color: rgb(200, 200, 200);
	--gnome-tabbar-tab-active-background: #2e3440;
	--gnome-tabbar-tab-active-border-bottom-color: #5e81ac;
	--gnome-tabbar-tab-active-color: #d8dee9;
	--gnome-tabbar-tab-active-hover-background: #2e3440;
	--gnome-inactive-tabbar-tab-color: rgb(141, 144, 145);
	--gnome-inactive-tabbar-tab-active-background: #2e3440;
	--gnome-inactive-tabbar-tab-active-border-bottom-color: #5e81ac;
	--gnome-inactive-tabbar-tab-active-color: rgb(141, 144, 145);

	/* Switch */
	--gnome-switch-background: #2e3440;
	--gnome-switch-border-color: #2e3440;
	--gnome-switch-slider-background: linear-gradient(to bottom, #3b4252 20%, #3b4252 90%);
	--gnome-switch-slider-border-color: #2e3440;
	--gnome-switch-slider-box-shadow: inset 0 1px rgba(255, 255, 255, 0.02), 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-switch-active-background: #5e81ac;
	--gnome-switch-active-border-color: #2e3440;
	--gnome-switch-active-slider-border-color: #2e3440;

	/* Dirty hacks for replaced symbolic icons, they load from
	 * /usr/share/icons/<theme>/ and on some systems they need to be
	 * inverted, on others they don't, adjusts the filters below to your
	 * needs (you may also adjust icon brightness here). */
	--gnome-convert-icon-to-symbolic-hack-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(85%);
	--gnome-icons-hack-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(200%); /* without invert: none */
	--gnome-window-icons-hack-filter: invert(90%); /* without invert: none */
  }
}
